/*
    ================= [ Start ] =================
        + Base Style Sheet Started.
    ============================================= 
*/

/* 1. Import Fonts */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 2. Base Style */
* { font-family: 'GmarketSansMedium'; margin: 0; padding: 0; text-decoration: none; list-style: none; color: #fff; }
body { background: linear-gradient(to top right, #4e6cff, #5a7eb9); }
html { scroll-behavior: smooth; }

/* 3. Base Style */
@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/*
    ================= [ End ] =================
        + Base Style Sheet Ended.
    ============================================= 
*/