/*
    ================= [ Start ] =================
        + Profiles Style Sheet Started.
    ============================================= 
*/

.profile-wrap > div[class*="pro"] {
    background-position: center;
    background-size: cover;
}

.pro1 {
    background: url(/Assets/Img/Profile/);
}

.pro2 {
    background: url(/Assets/Img/Profile/);
}

.pro3 {
    background: url(/Assets/Img/Profile/);
}

.pro4 {
    background: url(/Assets/Img/Profile/);
}

.pro5 {
    background: url(/Assets/Img/Profile/);
}

.pro6 {
    background: url(/Assets/Img/Profile/);
}

.pro7 {
    background: url(/Assets/Img/Profile/);
}

.pro8 {
    background: url(/Assets/Img/Profile/);
}

.pro9 {
    background: url(/Assets/Img/Profile/);
}

.pro10 {
    background: url(/Assets/Img/Profile/);
}

.pro11 {
    background: url(/Assets/Img/Profile/);
}

.pro12 {
    background: url(/Assets/Img/Profile/);
}

.pro13 {
    background: url(/Assets/Img/Profile/);
}

.pro14 {
    background: url(/Assets/Img/Profile/);
}

.pro15 {
    background: url(/Assets/Img/Profile/);
}

.pro16 {
    background: url(/Assets/Img/Profile/);
}

.pro17 {
    background: url(/Assets/Img/Profile/);
}

.pro18 {
    background: url(/Assets/Img/Profile/);
}

.pro19 {
    background: url(/Assets/Img/Profile/);
}

.pro20 {
    background: url(/Assets/Img/Profile/);
}

.pro21 {
    background: url(/Assets/Img/Profile/);
}

.pro22 {
    background: url(/Assets/Img/Profile/);
}

.pro23 {
    background: url(/Assets/Img/Profile/);
}

.pro24 {
    background: url(/Assets/Img/Profile/);
}

.pro25 {
    background: url(/Assets/Img/Profile/);
}

.pro26 {
    background: url(/Assets/Img/Profile/);
}

.pro27 {
    background: url(/Assets/Img/Profile/);
}

.pro28 {
    background: url(/Assets/Img/Profile/);
}

.pro29 {
    background: url(/Assets/Img/Profile/);
}

.pro30 {
    background: url(/Assets/Img/Profile/);
}
/*
    ================= [ End ] =================
        + Profiles Style Sheet Ended.
    ============================================= 
*/